# Auto detect text files and normalize line endings to LF
* text=auto

# Scripts
*.mjs text eol=lf
*.sh text eol=lf

# Markdown
*.md text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# JSON
*.json text eol=lf

# Docker
Dockerfile text eol=lf
docker-compose.yml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
